---
title: About me
layout: default 
group: bio
---

{% for member in site.bio %}
        <hr>
        <!-- The paddingtop and margin-top edits allow anchors to link properly. -->
        <div id = "{{member.name}}" class="row" style="padding-top: 60px; margin-top: -60px;">
            <div class="col-sm-4">
                <img class="img-fluid max-width:100%; height:auto; object-fit: cover;
                overflow: hidden" src="{{member.image}}" {% if member.altimage %} onmouseover="this.src='{{member.altimage}}';" onmouseout="this.src='{{member.image}}';" {% endif %} alt="{{member.name}}"; width="365"; height="365"><br>
                <strong>{{member.name}}</strong> <br>
                {{member.position1}} <br>
                {{member.position2}} <br>
                <em>{{member.email}}</em> <br>
                {% if member.orcid %}
                  <a href="http://orcid.org"><img class="inline-block mem-icon" src="/static/img/logos/orcidid_logo.svg"></a>
                  <a href="http://orcid.org/{{member.orcid}}"> {{member.orcid}}</a> <br>
                {% endif %}
                {% if member.linkedin %}
                  <a href="http://www.linkedin.com"><img class="inline-block mem-icon" src="/static/img/logos/lin_logo.svg"></a>
                  <a href= "http://www.linkedin.com/in/{{member.linkedin}}"> {{member.linkedin}} </a> <br>
                {% endif %}
                {% if member.publons %}
                  <a href="http://www.publons.com"><img class="inline-block mem-icon" src="/static/img/logos/publons_logo.svg"></a>
                  <a href= "https://publons.com/researcher/{{member.publons}}"> Profile </a> <br>
                {% endif %}
                {% if member.researchgate %}
                  <a href="https://www.researchgate.net"><img class="inline-block mem-icon" src="/static/img/logos/researchgate_logo.svg"></a>
                  <a href= "https://www.researchgate.net/profile/{{member.publons}}"> Profile </a> <br>
                {% endif %}
                {% if member.scholar %}
                  <a href="http://scholar.google.com"><img class="inline-block mem-icon" src="/static/img/logos/gscholar_logo.svg"></a>
                  <a href= "http://scholar.google.com/citations?user={{member.scholar}}"> Scholar Citations </a> <br>
                {% endif %}
                {% if member.twitter %}
                  <a href="http://twitter.com"><img class="inline-block mem-icon" src="/static/img/logos/twitter2_logo.svg"></a>
                  <a href= "http://twitter.com/{{member.twitter}}"> @{{member.twitter}} </a> <br>
                {% endif %}
                {% if member.github %}
                  <a href="http://github.com"><img class="inline-bloc mem-icon" src="/static/img/logos/github_logo.svg"></a>
                  <a href= "http://github.com/{{member.github}}"> {{member.github}} </a> <br>
                {% endif %}
                {% if member.gitlab %}
                  <a href="http://gitlab.com"><img class="inline-bloc mem-icon" src="/static/img/logos/gitlab_logo.svg"></a>
                  <a href= "http://gitlab.com/{{member.github}}"> {{member.gitlab}} </a> <br>
                {% endif %}
            </div>
            <div class="col-sm-8">
                <p class="text-justify">{{member.description | markdownify}}</p>
            </div>
        </div>
{% endfor %}
<hr>
