    </div>
    <div class="footer">
        <div class="container">
            <ul class="list-inline">
            <li class="footer-inverse"><a style="margin-left: -90em;"href="mailto:melchor .at. msanchezmartinez.com"><i class="fa fa-envelope fa-2x"></i></a></li>
            <li class="footer-inverse"><a style="margin-left: -86em;"href="https://linkedin.com/in/melchorsanchezmartinez"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
            <li class="footer-inverse"><a style="margin-left: -82em;"href="https://twitter.com/melsanm"><i class="fa fa-twitter fa-2x"></i></a></li>
            <li class="footer-inverse"><a style="margin-left: -78em;"href="https://github.com/MelchorSanchez"><i class="fa fa-github fa-2x"></i></a></li>
            <li class="footer-inverse"><a style="margin-left: -74em;"href="https://gitlab.com/msanmar"><i class="fa fa-gitlab fa-2x"></i></a></li>
            <li class="footer-inverse"><a style="font-size:14px;"> Copyright © Melchor Sanchez-Martinez, 2026</a></li>
            <li class="footer-inverse" style="padding-right:33px;"><a style="margin-right: -85em;font-size:12px;" href="/privacy/">PrivacyPolicy</a></li>
            </ul>
        </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/parallax.min.js"></script>
    <script src="https://kit.fontawesome.com/153d2c5511.js" crossorigin="anonymous"></script>
  </body>
</html>
