    </div>
    <div class="footer">
        <div class="container">
            <ul class="list-inline">
            <li class="footer-inverse"><a style="margin-left: -90em;"href="mailto:melchor .at. msanchezmartinez.com"><i class="fa fa-envelope fa-2x"></i></a></li>
            <li class="footer-inverse"><a style="margin-left: -86em;"href="https://linkedin.com/in/melchorsanchezmartinez"><i class="fa fa-linkedin-square fa-2x"></i></a></li>
            <li class="footer-inverse"><a style="margin-left: -82em;"href="https://twitter.com/melsanm"><i class="fa fa-twitter fa-2x"></i></a></li>
            <li class="footer-inverse"><a style="margin-left: -78em;"href="https://github.com/MelchorSanchez"><i class="fa fa-github fa-2x"></i></a></li>
            <li class="footer-inverse"><a style="margin-left: -74em;"href="https://gitlab.com/msanmar"><i class="fa fa-gitlab fa-2x"></i></a></li>
            <li class="footer-inverse"><a style="font-size:14px;"> Copyright © Melchor Sanchez-Martinez, 2022</a></li>
            <li class="footer-inverse"><a style="margin-right: -80em;font-size:12px;" href="https://docs.google.com/document/d/1oesLKtaFTYmZokl7hohxXtmKL5QUK58I6j-E7j71_AI/edit?usp=sharing">PrivacyPolicy</a></li>
            <li class="footer-inverse"><a style="margin-right: -92em;font-size:12px;" href="https://docs.google.com/document/d/1DaEcNJwHb_ltkM0Mvj423SVZT3FfFsjrx3323BIDFyw/edit?usp=sharing">Terms&Conditions</a></li>
            <li class="footer-inverse"><a style="margin-right: -110em;font-size:12px;" href="https://docs.google.com/document/d/1LiGhc7j6KWD1_1VaZXhXqtC1VVGbeGKGh_e15g0qaGA/edit?usp=sharing">CookiesPolicy</a></li>
            </ul>
        </div>
    </div>
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="/static/js/parallax.min.js"></script>
    <script src="https://kit.fontawesome.com/153d2c5511.js" crossorigin="anonymous"></script>
  </body>
</html>
