{% include analytics.html %}
{% include header.html %}

<div class="row-fluid">
    <div class="col-sm-12 col-md-12 col-xs-12">
        <div class = "page header" style= "color:steelblue"><h1>{{ page.title }}</h1></div>
        {% if page.subtitle %}<h3 style="font-style:italic;color:steelblue">{{ page.subtitle }}</h3>{% endif %}
        <p><span class="author" style = "color:lightsteelblue">{{ page.author }}</span><br>
        <span class="date" style = "color:lightsteelblue"><em>{{ page.date | date_to_long_string }}</em></span></p>
        <br>
        {{ content }}
    </div>
    {% include disqus.html %}
</div>
{% include sharebuttons.html %}
{% include footer.html %}
